
.container1x{
    position: relative;
    background-color: black;
    width: 100% ! important;
    height: 300px;
    text-align: center;
    z-index: 80 ;
}
.container1{
    position: relative;
    background-color: black;
    background-image: url("images/imgband3.jpg");
    text-align: center;
    background-size: cover;
    width: 100% ! important;
    height: 700px;

    z-index: 80 ;
}

.logo{
/*    opacity: 60%;*/
    position: relative;
    bottom: 15px;
}
.logo2{
    position: relative;
    top: 20px;
}
.topbar{
    text-align: center;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100% ! important;
    height: 80px;
    z-index: 50;
}
/*--------------------------------------------------------------------------------*/

.container3{
    position: relative;
    top: 60px;
    width: 100% ! important;
    height: 400px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}
.container3 hr{
    position: relative;
    top: 30px;
}
h4{
    position: relative;
    top: 45px;
    color: #5ea3a3;
    font-family: 'Pacifico', cursive;
    font-size: 30px !important;
    margin-bottom: 30px !important;
}
h2{
    
    position: relative;
    top: 50px;
    color: #393e46;
}
a{
    text-decoration: none !important;

}
a:hover{
}
img:hover{
    color:gold;
}
hr {
    border: 1px solid #1abb9c !important;
    margin-bottom: 100px !important;
    margin-top: 100px !important;
    width: 35%;
}
/*--------------------------------------------------------------------------------*/

.container4{
    position: relative;
    top: 60px;
    width: 100% ! important;
    height: 600px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}




/*--------------------------------------------------------------------------------*/

.container5{

    position: relative;
    top: 60px;
    width: 100% ! important;
    height: 600px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}

/*--------------------------------------------------------------------------------*/

.container6{
    position: relative;
    top: 60px;
    width: 100% ! important;
    height: 660px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}

/*--------------------------------------------------------------------------------*/


.container7{
    position: relative;
    top: 60px;
    width: 100% ! important;
    height: 600px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}
/*--------------------------------------------------------------------------------*/

.container8{
    position: relative;
    top: 60px;
    width: 100% ! important;
    height: 700px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}

/*--------------------------------------------------------------------------------*/
.container9{
    position: relative;
    top: 40px;
    width: 100% ! important;
    height: 500px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}
/*--------------------------------------------------------------------------------*/
.container10{
    position: relative;
    top: 40px;
    width: 100% ! important;
    height: 500px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}

/*--------------------------------------------------------------------------------*/

.container11{
    position: relative;
    top: 40px;
    width: 100% ! important;
    height: 500px !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;

}

/*--------------------------------------------------------------------------------*/

.footer{
    position: fixed;
    bottom: 0px;
    width: 100% ! important;
    height: 60px;
    background-color: rgba(197, 222, 215,1);
    text-align: center;
}
.footer p{
    padding-top: 13px;
    color: #00bdaa
}
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.discotab{
    position: relative;
    top: 50px;
    width: 95%;
    height: 1600px;
    left: 2.5%;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}
.discotab thead p{
    font-family: 'Dosis', sans-serif;
    font-size: 25px !important;
}
.discotab tbody p{
    font-family: 'Montserrat', sans-serif !important;

}
.table{
    border-collapse:separate; 
    border-spacing: 1px 1px;
    line-height: 63px !important; 
    vertical-align:middle !important;

}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.watchbox{
    text-align: center !important;
    position: relative;
    left: 15%;
    top:50px;
    width: 70%;

}
.watchbox h3{
    margin-bottom: 20px !important;
    font-family: 'Montserrat', sans-serif;
}
